<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thinkmill.touchstonejs-starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Touchstone</name>

	<description>
		Touchstone Starter App
	</description>

	<author email="hello@thinkmill.com.au" href="http://www.thinkmill.com.au">
		Thinkmill Team
	</author>

	<content src="index.html" />
	<access origin="*" />

	<preference name="DisallowOverscroll" value="true" />
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="AutoHideSplashScreen" value="false" />

	<!-- ANDROID -->
	<platform name="android">
		<icon src="resources/icons/iTunesArtwork@2x.png" density="ldpi" />
		<icon src="resources/icons/iTunesArtwork@2x.png" density="mdpi" />
		<icon src="resources/icons/iTunesArtwork@2x.png" density="hdpi" />
		<icon src="resources/icons/iTunesArtwork@2x.png" density="xhdpi" />

		<splash src="resources/splash/1242x2208.png" density="ldpi" />
		<splash src="resources/splash/1242x2208.png" density="mdpi" />
		<splash src="resources/splash/1242x2208.png" density="hdpi" />
		<splash src="resources/splash/1242x2208.png" density="xhdpi" />
	</platform>

	<!-- IOS -->
	<platform name="ios">
	</platform>

	<!-- PLUGINS -->
	<plugin name="cordova-plugin-device" spec="^1.0.0" />
	<plugin name="cordova-plugin-splashscreen" spec="^2.0.0" />
	<plugin name="cordova-plugin-statusbar" spec="^1.0.0" />
	<plugin name="cordova-plugin-whitelist" spec="^1.1.0" />
</widget>
