<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thinkmill.touchstone-starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Touchstone</name>
    <description>
        Touchstone Starter App
    </description>
    <author email="hello@thinkmill.com.au" href="http://www.thinkmill.com.au">
        Thinkmill Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
