//
// Home
// ==============================




// base

.home-view {
	background-color: white;
}

// add space for the statusbar in iOS, offset padding on the view

.is-native-app {
	.home-hero {
		// margin-top: -@statusbar-height;
		padding-top: @statusbar-height;
	}
	.home-hero-settings-button {
		top: @statusbar-height;
	}

	// hide the default statusbar stuff on the home view
	.view.home-view {
		padding-top: 0;

		&:before {
			display: none;
		}
	}
}




// Logo
// ------------------------------

.home-hero-logo {
	display: block;
	margin: 20px auto;
	width: 140px;
	
	svg {
		width: 140px;
	}
}




// Base
// ------------------------------


// Wraps the balance and the buttons

.home-hero {
	background-color: @app-primary;
	color: white;

	// form-items
	.form-item {
		border-top-color: fade(white, 20%);
	}

	// buttons
	.form-tap-button {

		// variants
		&.is-muted {
			.form-tap-button-label { color: fade(white, 60%); }
			.form-tap-button-icon { color: fade(white, 40%); }
		}
	}
}


// Buttons

.home-buttons {
	position: relative;
	z-index: 2;

	.strip-button.active {
		position: relative;
		
		.strip-button-icon { color: white; }

		// indicator arrow
		&:after {
			.square(0);
			border: 8px solid transparent;
			border-bottom-width: 0;
			content: "";
			display: inline-block;
			left: 50%;
			margin-left: -8px;
			position: absolute;
		}
		&:after {
			border-top-color: #f06a30;
			bottom: -7px;
		}
	}
	.strip-button-cell {
		border-color: transparent;
	}
	.strip-button {
		background-color: fade(black, 8%);
	}
	.strip-button-icon {
		.rotate(45deg);
		color: lighten(@app-primary, 33%);
	}
	.strip-button-label {
		color: white;
		// font-size: @font-size-huge;
		// font-weight: 300;
	}

	// when tapped darken the background and light up the icon
	.strip-button:active {
		background-color: fade(black, 12%);
		
		.strip-button-icon { color: white; }
	}
}
.receive-buttons,
.send-buttons {
	background-color: white;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.125);
	position: relative;
	z-index: 1;
}



@keyframes spin {
	to { .rotate(1turn); }
}
@-webkit-keyframes spin {
	to { .rotate(1turn); }
}










