// 
// Bars
// ==============================




// Status Bar
// ------------------------------

.statusbar {
	.size(100%,@statusbar-height);
	background-color: @headerbar-bg;
}




// Alert Bar
// ------------------------------

.alertbar {
	background-color: @gray-light;
	color: white;
	font-size: @font-size-small;
	font-weight: 500;
	height: 30px;
	line-height: 30px;
	position: relative;
	text-align: center;

	// variants

	&.primary  { background-color: @app-primary; }
	&.success  { background-color: @app-success; }
	&.warning  { background-color: @app-warning; color: @text-color; }
	&.danger   { background-color: @app-danger; }

	// overlay translucent for pulse
	&:after {
		.animation( pulse 2s linear infinite );
		.fill-space();
		background-color: black;
		content: "";
		opacity: 0;
		z-index: 1;
	}
}
// sit the text above the pulsing background
.alertbar-text {
	position: relative;
	z-index: 2;
}




// Footer Bar
// ------------------------------

.footerbar {
	background-color: @headerbar-bg;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);

	.action-button-cell {
		border: none;
	}
}


// variants

.footerbar.primary,
.footerbar.success,
.footerbar.danger,
.footerbar.inverted {
	box-shadow: none;
	color: white;

	.action-button-icon {
		color: white;
	}
}
.footerbar.primary  {
	background-color: @app-primary;
	
	.action-button.Tappable-active {
		background-color: darken(@app-primary, 6%);
	}
}
.footerbar.success  {
	background-color: @app-success;
	
	.action-button.Tappable-active {
		background-color: darken(@app-success, 6%);
	}
}
.footerbar.warning  {
	background-color: @app-warning;
	
	.action-button.Tappable-active {
		background-color: darken(@app-warning, 6%);
	}
}
.footerbar.danger   {
	background-color: @app-danger;
	
	.action-button.Tappable-active {
		background-color: darken(@app-danger, 6%);
	}
}
.footerbar.inverted {
	background-color: @text-color;
	
	.action-button.Tappable-active {
		background-color: darken(@text-color, 6%);
	}
}


// buttons

.footerbar > .action-buttons {
	.action-button {
		line-height: 1.1;
		min-height: 44px;
		padding: 0 0 2px;
	}
	.action-button-icon {
		font-size: @ionicons-size-large;
		height: @ionicons-size-large;
	}
	.action-button-label {
		font-size: @font-size-tiny;
		font-weight: 400;
	}
}








